# Fichiers de build
kernel/build/
*.o
*.bin
*.elf

# ISO et distribution
kernel/iso/
dist/
*.iso

# Fichiers temporaires
*~
*.swp
*.swo
.DS_Store
*.bak

# Logs
*.log

# Fichiers VSCode
.vscode/

# Archives
*.tar.gz
*.zip

# Toolchain (si tu veux exclure)
# toolchain/
